*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #041222;
    color: azure;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 150px auto;
    padding: 20px;
    background: #212934;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    display: block;
    text-align: left;
    width: 100%;
    background: #212934;
  }
  
  
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: #ccc;
    color: black;
  }
  

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  .but{
    background-color:#212934;;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .error{
    background-color: #212934;
    color: red;
    font-weight: 500;
  }
